@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,400;1,700&display=swap');
:root{
    --blue:#576ff8;
    --gray-off-white:#b9c1c5;
}
.body{
    margin: 0;
}
.navigate-Head{
    background-color: var(--blue);
    padding: 10px ;
    border-bottom-left-radius: 6px;
}
.navigate-ul{
    text-align: right;
    text-size-adjust: 10vw;
}

.navigate-text{
    text-size-adjust: 10vw;
    text-decoration: none;
    color: aliceblue; 
}
.navigate-items{
    display: inline;
    padding: 10px;
  
}
.active{
    font-weight: bold;
    text-decoration: underline;
}
.span{
    color: var(--blue);
}
.h1{
    font-size: 4em;
}

.center{
    background-color: #f0f5f4;
    text-size-adjust: 10vw;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 20px;
    display: block;
    margin: auto;
    max-width: 750px;
}
.img{
    height:300px;
    width: 100%;
}
.section{
    background-color: #cfcfd1;
    padding-top: 40px;
    padding-bottom: 20px;
    text-size-adjust: 10vw;
    max-width: 750px;
}
.h2{
    font-family: 'Merriweather', serif;
    text-decoration: underline;
    max-width: 300px;
    display: block;
    margin: auto;
    text-size-adjust: 10vw;
   
}
.h3{
    color: #1f36b8;
    max-width: 700px;
    padding: 0rem;
    font-weight: bold;
    text-size-adjust: 10vw;
}

.section2{
    background-color: aliceblue;
    padding-top:10px;
}
.related-image{
    height: 100px;
    width: 100%;
}
.link-button{
    background-color:rgb(7, 138, 253);
    padding: 8px;
    border-radius: 6px;
    text-decoration: none;
    color: aliceblue;
    text-size-adjust: 10vw;
}
.blog-link{
    background-color: #f0f5f4;
    border:#011cb6;
    color: #576ff8;
}
.footer{
    background-color: var(--blue);
    text-size-adjust: 10vw;
}
.footer-title{
    padding-top: 10px;
    padding-left: 10px;
    color: #f0f5f4;
    text-size-adjust: 10vw;
}
.logo{
    height: 20px;
    width: 20px;
}
.ul{
    list-style-type: none;
    text-align:left;
    text-size-adjust: 10vw;
    padding-bottom: 20px;
}


.footer-texts{
    text-decoration: none;
    text-size-adjust: 10vw;
}  

@media screen and (max-width:650px){
    .h1{
        font-size: 3em;
    }
    
    .center{
        background-color: #d1e2df;
        padding-left: 30px;
        padding-right: 30px;
        max-width: 600px;
    }
    .section{
        background-color: #cfcfd1;
        max-width: 600px;
    }
    .h2{
        max-width: 600px;
    }
    .h3{
        color: #1f36b8;
        max-width: 600px;
    }
    
    .section2{
        background-color: aliceblue;
    }

    .footer{
        background-color: var(--blue);
        text-size-adjust: 10vw;
    }
}


